:root{
  --color-darkgreen:#323D36;
  --color-eerieblack:#0F1C15;
}

*{
    box-sizing: border-box;
    background-color: #FCFCFC;
    font-family: 'Ovo', sans-serif;
}

body{
    padding: 0 0;
    margin: 0;
}

header{
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    background-color: #FCFCFC ;
}

header ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

header a{
    text-decoration: none;
    display: block;
    padding: 1em;
    border-top: 1px solid #999;
    color: var(--color-eerieblack);
    background-color:#FCFCFC;
}

header .title{
    padding: 1em;
    background-color:#FCFCFC;
    padding-left: 2em;
    color: var(--color-eerieblack);
    font-weight: 700;
}

.active{
    background-color: #A6B5AC;
}

li a:hover{
    background-color: #C0C9CC;
}

main{
    margin-top: 3em;
    padding: 0;
}


.bg-photo{
  display: block;
  height:100%;
  width: 100%;
}


.quote
{
  padding: 5em 6em 5em 6em;
  font-style: italic;
  font-weight: 400;
  font-size: 1.5em;
  text-align: center;
}

/* cu first child */
#about-us{
  background-color: var(--color-darkgreen);
  padding: 5em 10em 5em 10em;
  margin-bottom: 0;
  text-align: justify;
}

#about-us p:first-child{
  font-style: italic; 
}

#about-us>p{
  background-color: inherit;
  color: #C0C9CC;
  font-size:x-large;
}

#explore
{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.review
{
  display: grid;
}


.image-container{
  position: relative;
  display: inline-block;
}

.overlay-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(50, 61, 54, 0.4);
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  z-index: 1; 
  text-align: center;
  font-weight:800;
}

.a-overlay{
  background-color: rgba(86, 94, 75, 0);
  text-decoration: none;
  color: white;
}



#explore .bg-photo
{padding: 3em;}

footer{
    padding: 2em 2em 2em 2em ;
    background-color: var(--color-darkgreen);
}


footer ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 2em;
    margin-bottom: 1em;
    
    
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--color-darkgreen);
    
}


footer li{
    background-color: var(--color-darkgreen);  
    max-width: 20em;
    width: 70%;
    margin-bottom: 1em;
}

footer p,h3{
    background-color: var(--color-darkgreen);
    color: #C0C9CC;
}

footer a{
    background-color: var(--color-darkgreen);
    color: #C0C9CC;
    text-decoration: none;
}
footer div{
    background-color: var(--color-darkgreen);
}

footer a:hover{
    color:#595454;
    border-radius: 2px;
}




/* CEASCA CAFEA */
#container {
	position: relative;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.steam {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: -30px;
  margin-left: 30px;
  z-index: 0;
  opacity: 0;
}

#steam1 {
  animation: steam1 4s ease-out infinite;
}

#steam3 {
  animation: steam1 4s ease-out 1s infinite;
}

@keyframes steam1 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
}

#steam2 {
  animation: steam2 4s ease-out 0.5s infinite;
}

#steam4 {
  animation: steam2 4s ease-out 1.5s infinite;
}


@keyframes steam2 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
}

#cup {
  z-index: 1;
}

#cup-body {
  position: absolute;
  height: 80px;
  width: 120px;
  border-radius: 0 0 150px 150px;
  background-color: #fff;
  margin: auto;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
}

#cup-shade {
  position: relative;
  height: 100px;
  width: 200px;
  background-color: #F3F3F3;
  display: inline-block;
  margin-left: 42%;
  margin-top: -3px;
  transform: rotate(50deg);
  z-index: 1;
}

#cup-handle {
  position: relative;
  height: 45px;
  width: 50px;
  border-radius: 0 150px 150px 0;
  border: 8px solid #F3F3F3;
  margin-bottom: 55px;
  margin-left: 100px;
  display: inline-block;
  z-index: 0;
}

#saucer {
  position: absolute;
  height: 18px;
  width: 115px;  
  border-radius: 0 0 100px 100px;
  background-color: #F9F9F9;
  margin-top: -32px;
  margin-left: 5px;
  z-index: 2;
}


@media (min-width: 40em) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  header ul {
    display: flex;
  }
  header li a {
    border: 0;
  }

  footer ul{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1em;
  }

  #dropdown-button{
    display: none;
  }

  #about-us p{
    font-size: large;
  }

  .overlay-link {
    font-size: large; 
  }

}

@media (max-width: 40em) 
{
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header ul {
    display: flex;
  }
  header li a {
    border: 0;
  }

  #dropdown-menu {
    display: none;
    position: absolute;
    background-color: #FCFCFC;
    z-index: 1000;
    text-align: center;
  }
  
  #dropdown-menu li {
    border-top: 1px solid #999;
  }
  
  #dropdown:hover #dropdown-menu{
    display: block;
  }
  
  #dropdown a:hover{
    background-color: #C0C9CC;
  }
  #dropdown-button {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #595454;
    background-color: #FCFCFC;
    position: static;
    border-top: 1px solid #FCFCFC;
    width: 7em;
    text-align: center;
  }

  #about-us p{
    font-size: medium;
  }
  .overlay-link {
    font-size: large;
  }


}

@media (min-width: 80em) {
  main {
    display: grid;
    grid-gap: 2em;
  }
  footer ul{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1em;
  }

  #dropdown-button{
    display: none;
  }

  #about-us p{
    font-size: x-large;
  }

  .overlay-link {
    font-size: x-large;
  }
  
}
